<html>

<head>
    <title>Influenza</title>
    <!--bower:css-->
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css" />
    <!--endbower-->
    <!--inject:css-->
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!--endinject-->
</head>

<body ng-app="influenza">
    <div class="container-fluid">
        <% include partials/header %>
            <!--<div class="col-sm-offset-5 twitter-sign-in">
                <a href="#!" class="butn twitter-sign-in">Sign Up with Twitter</a>
            </div>-->
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5" ng-controller="beginCtrl">
                    <!--<a href="#!" class="butn" ng-disabled="isDisabled" ng-click="disableButton($event)">Begin</a>-->
                    <a href="#!" class="butn" ui-sref="begin" ng-show="showBeginButton" ng-click="hideButton()">Begin</a>
                </div>
            </div>

            <section class="grid row">
                <div ui-view></div>
            </section>
            <% include partials/footer %>
    </div>







    <!--Loading libraries-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <!--bower:js-->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/angular-socket-io/socket.js"></script>
    <!--endbower-->
    <!--inject:js-->
    <script src="/js/app.js"></script>
    <script src="/js/controllers/index.js"></script>
    <script src="/js/factories/tweetFactory.js"></script>
    <script src="/js/services/tweetSocket.js"></script>
    <!--endinject-->
</body>

</html>
