<html>
    <head>
        <title>Influenza</title>
        <!--bower:css-->
        <link rel="stylesheet" href="../public/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="../public/lib/font-awesome/css/font-awesome.css" />
        <!--endbower-->
        <!--inject:css-->
        
        <link rel="stylesheet" href="/css/reset.css">
        
        <link rel="stylesheet" href="/css/styles.css">
        
        <!--endinject-->
    </head>
       
    <body ng-app="influenza">
      <div class="container-fluid">
          <nav class="row">
              <ul>
                  <li><a href="#!" ui-sref="about">About</a></li>
                  <li><a href="#!" ui-sref="start">Start Tracking</a></li>
              </ul>
          </nav>
      </div>
       <div class="container-fluid">
            
       </div>
        
        <div ui-view>
            <!--This is where our partial will go-->
        </div>    
    
    
    <!--Loading Libraries--> 
    <!--bower:js-->
    <script src="../public/lib/jquery/dist/jquery.js"></script>
    <script src="../public/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../public/lib/angular/angular.js"></script>
    <script src="../public/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <!--endbower-->
    
    <!--Loading custom js-->
    <!--inject:js--> 
    <script src="/js/app.js"></script> 
    <!--endinject-->
    
    </body>
</html>