<html>
    <head>
        <title>Influenza</title>
        <!--bower:css-->
        <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css" />
        <!--endbower-->
        <!--inject:css-->
        <link rel="stylesheet" href="/css/styles.css">
        <!--endinject-->
        
    </head>
    <body ng-app="influenza">
        <div ng-controller="testCtrl">
            Testing.
        </div>
    
    <!--bower:js-->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular/angular.js"></script>
    <!--endbower-->
    <!--inject:js-->
    <script src="/js/app.js"></script>
    <!--endinject-->
    
    </body>
</html>