<div class="handlesdata">

    <div class="col-sm-6 steps">
        <h1>Step 1</h1>

        <p class="ghost">
            Let's start by giving me some input.
            <br>Type in the twitter handles of your influencers.
        </p>
        <textarea autocomplete="off" rows="6" cols="40" ng-model="twitter.influencers" placeholder="aminspeaks,binarygru,twitter,angularjs . . . " />
    </div>
    <div class="col-sm-6 steps">
        <h1>Step 2</h1>
        <p class="ghost">
            Now type in your client's trend.
            <br>Hash insensitive. <span class="code">#sometrend</span> and <span class="code">sometrend</span> both will do.
        </p>
        <input ng-model="twitter.trend" name="trend" placeholder="#trend" autocomplete="off">
    </div>
    <div class="col-sm-2 col-sm-offset-5">
        <input type="submit" method="POST" href="/sendlist" class="butn" ng-click=track(twitter) value={{status}} />

    </div>
</div>
