<html>
    <head>
        <title>This is the stuff</title>
        <!--bower:js-->
        <!--endBower-->
        <!--bower:css-->
        <!--endbower-->
        <!--inject:css-->
        <!--endinject-->
    </head>
    PARTIAL!!
    <body>
        <!--injectjs-->
        <!--endinject-->
    </body>
</html>