<hr>
<ul ng-repeat="influencer in influencers">
    <li class="col-sm-2 card">
        <div>
            <img src={{influencer.profile_image_url}} />
            <p class="text-center handle" ng-cloak>
                @{{influencer.screen_name}}</p>
            <p class="text-center count" ng-cloak>{{influencer.count}}
                <br>
            </p>
        </div>
    </li>
</ul>
