<div class="wrapper card-wrapper col-sm-6">
    <h1>Step 1 - Upload that shit</h1>
    <p class="ghost">
        Upload a text file containing a comma seperated list of all the influencers.
    </p>
    <form action="#">
        <input type="file" id="upload" value="Upload" required>
        <input type="text" placeholder ="Enter trend to be searched with # (case insensitive)">
        <a href="#!" class="butn">Submit</a>
    </form>
</div>