<div class="wrapper card-wrapper col-sm-3">
    <h1>Upload</h1>

    <p class="ghost">
        Upload a text file containing a comma seperated list of all the influencers.
    </p>
    <form action="#">
        <input type="file" id="upload" value="Upload" required>
        <input type="text" placeholder="#trend">
        <a href="#!" class="butn">Submit</a>
    </form>
</div>